---
layout: default
title: Home
---

<h1>Welcome to my website!</h1>

<p>This is my home on the web.</p>

<h2>Blog</h2>

<!-- The h-*, u-*, and p-* classes below are used to generate a h-feed, which is translated into an Atom feed
    by the rel=alternate tag in _layouts/default.html. -->
<ul class="blog-posts h-feed">
    {% for post in site.posts %}
    <li class="h-entry">{{ post.date | long_date }} <a href="{{ post.url }}" class="u-url p-name">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>Photos</h2>

<ul class="photo-grid">
    <li>
        <img src="https://jamesg.blog/assets/golden_gate_bridge.jpeg" alt="" />
    </li>
    <li>
        <img src="https://jamesg.blog/assets/golden_gate_bridge.jpeg" alt="" />
    </li>
    <li>
        <img src="https://jamesg.blog/assets/golden_gate_bridge.jpeg" alt="" />
    </li>
    <li>
        <img src="https://jamesg.blog/assets/golden_gate_bridge.jpeg" alt="" />
    </li>
</ul>